*{
	border:0;
	padding:0;
	margin:0;
}
html,body {
	height: 100%;
	margin: 0;
	background-color: #E5E5E5;
	font-family: 'RobotoDraft', sans-serif;
}
#Page1{
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
#Page2{
	display:none;
}
paper-tabs {
	background: #E60000;
	color: white;
}
#tabs {
	width: 100%;
	margin: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-transform: uppercase;
}
#main-container{
	position:absolute;
	top:10%;
	right:5%;
	left:5%;
	bottom:5%;
}
#editor{
	height:100%;
	width:100%;
}
.username-div{
	height: 100px;
	margin-top: -100px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}
.username-title{
	color:#fff;
	font-size:200%;
	text-align:center;
	padding-bottom: 50px;
}
.username-input{
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #fff;
	outline: none;
	padding-bottom: 15px;
	text-align: center;
	width: 400px;
	font-size: 200%;
	letter-spacing: 3px;
	color:#fff;
}
#list1{
	background-color: #000;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	overflow-y: scroll;
}
#list2{
	background-color: #000;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:20%;
	overflow-y: scroll;
}
#input-message{
	position:absolute;
	top:80%;
	bottom:0;
	left:0;
	right:0;
	color:#fff;
}
.log {
	color: #fff;
	font-size: 100%;
	margin: 5px;
	text-align: center;
}
.message{
	padding-top: 2%;
}
.username{
	padding-left:2%;
}
.messageBody {
	color: #fff;
	padding-left:2%;
	padding-right: 2%;
}
